/* Стили для доски (класс board) */
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Стили для статуса игры (класс status) */
.status {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Стили для ячеек (класс cells) */
.cells {
  width:300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 100px); /* Измените ширину по вашему усмотрению */
  gap: 2px;
  justify-content: center;
}

/* Стили для отдельной ячейки (класс cell) */
.cell {
  width: 100px; /* Измените ширину и высоту по вашему усмотрению */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #333;
  cursor: pointer;
}


.cell:hover {
  background-color: #f0f0f0; /* Изменение цвета при наведении */
}

/* Дополнительные стили для выделения победной линии */
.winner-line {
  background-color: #ffff00; /* Цвет победной линии */
}